openapi: 3.2.0
info:
  title: Cigna Patient Access Condition API
  description: FHIR R4 API exposing Cigna member health information including coverage, claims, encounters, observations, conditions, medications, and immunizations for authorized third-party applications acting on behalf of a member. Implements the HL7 Da Vinci PDex implementation guide and the CMS Interoperability and Patient Access final rule (CMS-9115-F).
  version: '1.0'
  contact:
    name: Cigna Developer Support
    url: https://developer.cigna.com/support
servers:
- url: https://fhir.cigna.com/PatientAccess/v1
  description: Cigna Patient Access Production
- url: https://fhir.cigna.com/PatientAccess/v1-devportal
  description: Developer Sandbox
security:
- smartOnFhir: []
tags:
- name: Condition
paths:
  /Condition:
    get:
      operationId: searchCondition
      summary: Retrieve condition records for the authenticated member
      tags:
      - Condition
      responses:
        '200':
          description: FHIR Bundle of Condition resources
components:
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR authorization with patient-context launch
      flows:
        authorizationCode:
          authorizationUrl: https://r-hi2.cigna.com/mga/sps/oauth/oauth20/authorize
          tokenUrl: https://r-hi2.cigna.com/mga/sps/oauth/oauth20/token
          scopes:
            patient/*.read: Read all patient-context FHIR resources
            launch/patient: Launch in patient context
            offline_access: Receive a refresh token
            openid: Receive an OpenID Connect identity token
            fhirUser: Receive the user resource identifier
externalDocs:
  description: Patient Access Implementation Guide
  url: https://developer.cigna.com/docs/service-apis/patient-access/implementation-guide
