openapi: 3.1.0
info:
  title: Cigna Drug Formulary Bulk Data Patient API
  description: Public FHIR-based Drug Formulary API exposing Cigna's covered drug lists, formulary tiers, prior authorization, step therapy, and quantity limits. Implements the HL7 Da Vinci PDex US Drug Formulary IG required by the CMS Interoperability and Patient Access rule.
  version: '1.0'
  contact:
    name: Cigna Developer Support
    url: https://developer.cigna.com/support
servers:
- url: https://fhir.cigna.com/DrugFormulary/v1
  description: Cigna Drug Formulary Production
tags:
- name: Patient
paths:
  /metadata:
    get:
      operationId: getCapabilityStatement
      summary: Retrieve the FHIR capability statement
      tags:
      - Patient
      responses:
        '200':
          description: FHIR CapabilityStatement
  /$userinfo:
    get:
      operationId: getUserInfo
      summary: Retrieve the authenticated member's identifier
      tags:
      - Patient
      responses:
        '200':
          description: User info with member identifier
  /Patient:
    get:
      operationId: searchPatient
      summary: Search the authenticated member's Patient resource
      tags:
      - Patient
      parameters:
      - name: _id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: FHIR Bundle of Patient resources
  /Patient/{patientId}/$everything:
    get:
      operationId: getPatientEverything
      summary: Retrieve a complete clinical record for an attributed member
      tags:
      - Patient
      parameters:
      - name: patientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: FHIR Bundle for the patient
externalDocs:
  description: Cigna Service APIs
  url: https://developer.cigna.com/docs/service-apis
